<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Appenders>
		<File name="File" fileName="C:/record.log">
			<PatternLayout pattern="%d{HH:mm:ss} %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<root level="trace">  
            <appender-ref ref="File" /> 
        </root>  
	</Loggers>
</configuration>
